@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* @import url('/static/styles/style.css'); */
.panel-primary{
    border-color:transparent;
}
.panel-primary>.panel-heading {
   
    background-color: transparent;
    border-color:transparent;
    border-bottom: 2px solid #18264c;
    margin-bottom: 15px;
    margin-top: 15px;
}

.panel-primary>.panel-heading .panel-title{
    font-size: 24px;
    color:#c8057f;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.panel-primary .nav-tabs>li>a{
  
    /* border-right: 1px solid #f7f9fa; 
    border-radius: 0;*/
    font-size: 14px;
    background: #fff;
    color: #4a4a4a;
    padding: 6px 30px;
    /* border-top: 1px solid #f0f3f6; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.panel-primary .nav-tabs>li.active>a, 
.panel-primary .nav-tabs>li.active>a:focus, 
.panel-primary .nav-tabs>li.active>a:hover{
    background: none;
    color: #c8057f;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    /* border-top: 1px solid #f7f9fa; */
    border-bottom: 1px solid #fff;
}
  /* THE STYLE SHEET */  /* THE STYLE SHEET */  /* THE STYLE SHEET */  /* THE STYLE SHEET */  /* THE STYLE SHEET */
body {
    margin: 0;
    font-family:'Roboto', sans-serif;
  }
  
  a:hover, a:focus{
      text-decoration: none;
  }

  .navbar-nav>li>a {
      margin: 12.5px 6px;
  }
  .navbar-brand img{
      width: 50%;
      padding-top: 14%;
      margin-left: 21%;
  }
  .navbar-brand{
      padding: 22px 10px;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
  {
      background-color: transparent;
  }
  
  
  .topnav {
    height: 64px;
    overflow: hidden;
    background-color: #19264d;
  }
  
  .topnav a {
    float: left;
    color: #F0F3F6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 50px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
    text-align: center;
    backface-visibility: hidden;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: rotateY(180deg);
  }
  
  .container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:18px;
    
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color:  #5c2383;
  }
  
  .flip-card-back {
    color:  #c8057f;
    transform: rotateY(180deg);
  }
  
  /* THE STYLE SHEET */  /* THE STYLE SHEET */  /* THE STYLE SHEET */  /* THE STYLE SHEET */  /* THE STYLE SHEET */

.table-bordered tr td label{
    color:#4a4a4a;
    font:400 14px  'Roboto', sans-serif;
}
.table-bordered tr th a, .table-bordered tr td a{
    color:#5c2383;  
}


.navbar-default, .navbar-inverse{
    height:70px;
    background:#19264d;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.19);
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,.19);
     box-shadow: 0px 2px 10px rgba(0,0,0,.19);
     z-index: 2;
}
.container-fluid.header-nav{
    padding-left:0;
}
.header-nav .navbar-brand {
    padding:0;
    background-color: #F0F3F6;
    height:70px;
}

.navbar-nav{
    padding: 12px 0px 12px 16px;
}
.header-nav .navbar-brand:hover{
    padding:0;
    background-color: #F0F3F6;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
 .navbar-brand img{

    width: 50%;
    padding-top: 14%;
    margin-left: 21%;
}
.navbar-brand{
    padding: 22px 10px;
}
.navbar-header .navbar-brand a{
    font-size: 18px;
    padding-top: 10px;
    color:#fff;
}
.navbar-header .navbar-brand a:hover{
    color: #fff;
    border: none;
    text-shadow: 0 0 2px #fff;
    text-decoration: none;
}
.navbar-inverse .navbar-nav li a{
   font-family: 'Roboto', sans-serif;
   padding:12px 12px 11px 12px;
   color:#fff;
   border:none;
   font-size: 16px;
   margin-right:10px;
 }
 .open>.dropdown-menu{
    top:132%;
 }

.navbar-inverse .navbar-nav li a:hover{
    color:#fff;
    border:none;
    /* text-shadow: 0 0 2px #fff; */
    font-weight: 600;
}
.navbar-nav.navbar-right li a{
   
    font-size:16px;
}
.caret
{
    margin-left: 4px;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>a:hover {
    text-shadow: 0 0 2px #fff;
    color:#fff;
    border:none;
    background-color: transparent;
}
.navbar-inverse .navbar-nav  .dropdown-menu li a {
    padding: 3px 10px;
    color: #18264c;
    background: white;
    font-size: 14px;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover{
    background: #c8057f;
    color:#fff;
}



/* End Landing, Start Dashboard */

